{% extends 'base.html' %} 
{% load static %} 
{% block content %}
<!-- <header> -->
  <div class="card mb-3" style="  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; margin-top: 90px; width: 22rem">
    <div class="text-center" style="height: 35px; background-color: black; color: rgb(240, 239, 235);"><b>Plan</b></div>
    <div class="card-body">
      <!-- <div class="container mt-5"> -->
        {% if subscription.status == "active" %}
        <h4>Your subscription:</h4>
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text"><h5></h5>
              {{ product.description }}
              <a href="{% url 'cancel' %}"></a>
            </p>
          </div>
        </div>
        {% else %}
        <h4> Aben Premium Membership</h4>
        <div>7 days free trial after that you will have to charge $49.99 </div>
        <button type="submit" class="btn btn-outline-success" id="submitBtn">
          Subscribe
        </button>
        {% endif %}
      <!-- </div> -->
    </div>
  </div>
<!-- </header> -->


{% endblock %}
